/*-----Animation Styles-----*/

@keyframes lanzarbolazo {
    
    0% {
        width: 0;
        height: 0;
        right: 38%;
    }
    
    25% {
        width: 0;
        height: 0;
    }
    
    60% {
        width: 500px;
        height: 500px;
        right: 38%;
    }
    
    75% {
        width: 500px;
        height: 500px;
        right: 38%;
    }
    
    100% {
        width: 500px;
        height: 500px;
        right: 120%;
    }
}





#db-bg {
    background-image: url(../img/tatamiDG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background: url(../img/tatamiDG.png) no-repeat cover;
    
}

.saiyan {
   width:10%;
}

#goku {
    position:fixed;
    top: 150px;
    left: 10%;
}

#vegeta {
    position:fixed;
    top: 150px;
    right: 10%;
}

#bolazo {
    position:absolute;
    top: 700px;
    right: 38%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: radial-gradient(yellow,orange,red);
    animation: lanzarbolazo 8s;
}